* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#buscador {
    padding: 5px;
    background-color: white;
}

#caja {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
  
}


.oprimir {
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    color: black;
    background-color: rgb(233, 233, 233);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    margin-top: 0px;
    border-radius: 5px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}



.tarjeta {
    height: 230px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid rgb(63, 60, 60);
}



h2 {
    font-size: 100%;
    text-align: center;
    color: white;
}


p {
    color: white;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}